.env
env/*
__pycache__/*
**/__pycache__/*

xqc_part_of_vod/*
xqc_full_vod/*
xqc_full_vod_responses_backup/*
history/*

temp/*
segments/*
responses/*
recordings/*
processed_recordings/*
finishedvideos/*
chat_replays/*
herokulogs.txt

rendertesting/*.mp4

sshprivate.key
sshpublic.pub

oauth/*
chat.txt
connect.sh
log.txt
Procfile
test.py
xqcfullvodtesting.py
rendertesting/*